*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
}
:root{
--background-color: rgb(209, 136, 187);
--btn-color: rgb(186, 186, 186);
--btn-color-hover: rgb(27, 118, 246);
--nav-link-color: black;
--nav-link-hover-color: #FFD294;
; 
}
.header{   
background-color: var(--background-color);
min-height: 50px;
width: 100%;
display: flex;
justify-content: space-between;
}
.nav{
    display: flex;
}
.nav-item{
    margin: 10px 12px;
    padding-top: 0.45rem;
}
.nav-link{
    text-decoration: none;
    color: var(--nav-link-color);
}
.nav-link:hover{
color: #d74674;
text-decoration: overline;
}
.btn-box{
    margin-top: 0.7rem;
}
.btn{
background-color: var(--btn-color);
padding: 8px 10px;
color: #f0f0f0;
border-radius: 5px;
border: none;
cursor: pointer;
}
.btn:hover{
    background-color: var(--btn-color-hover);
}
.search{
    width: 30%;
    height: 40px;
    border-radius: 1rem;
    margin: 0.5rem;
    border: none;
    z-index: inherit;
    text-align: center;
}
